#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=Eclipse IDE for Java and DSL Developers - 2021-06
Exec=env GTK_IM_MODULE=ibus /home/farid/eclipse/dsl-2021-06/eclipse/eclipse
Categories=Development;IDE;
Icon=/home/farid/eclipse/dsl-2021-06/eclipse/icon.xpm
